# Unreal generated
**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/.vs/
**/.vscode/

# macOS
.DS_Store
**./.DS_Store

# Logs
*.log

# scratch docs
/ignoredocs/

anaconda_projects/

.pytest_cache