# Unreal generated
**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/.vs/
**/.vscode/

# macOS
.DS_Store
**./.DS_Store
**/__pycache__

# Logs
*.log

# Large visual sample corpus
/Examples/vision_large/

# scratch docs
/ignoredocs/

anaconda_projects/

.pytest_cache
