# Unreal Engine project
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/

# OS / tooling
.DS_Store
Thumbs.db

# Build artifacts / IDE
*.sln
*.xcodeproj
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.pidb

# Logs
*.log
