/artifacts/*
!artifacts/sample_training_artifact

/.venv
/runs/
/datasets/reference
/datasets/legacy
/datasets/evaluation
/reference/
/validation/*
!validation/validation_example

**/__pycache__
**/.pytest_cache
**/.DS_Store
